aiohttp
aiosmtplib
alembic
beautifulsoup4
fastapi
feedparser
finnhub_python
firebase_admin
httpx
Jinja2
nltk
numpy
langchain
langchain-community
pandas
passlib
protobuf
pydantic
pydantic_settings
pytest
python-dotenv
python_jose
Requests
scipy
sec_api
SQLAlchemy
starlette
twilio
yfinance
uvicorn
redis
supabase
python-multipart
