aiohttp
aiosmtplib
alembic
beautifulsoup4
fastapi
feedparser
finnhub_python
firebase_admin
httpx
Jinja2
nltk
numpy
langchain
langchain-community
pandas
passlib
protobuf
pydantic
pydantic[email]
pydantic_settings
pydantic_core
pytest-asyncio
pytest
python-dotenv
python_jose
Requests
scipy
sec_api
SQLAlchemy
starlette
twilio
yfinance
uvicorn
redis